<?php
$config = array(
    'logfile' => '/dev/null',
    'mongodb' => 'mongodb://mongo0/pybot',
    'irc_server' => 'riboflav.in',
    'irc_port' => 6667,
    'irc_handle' => 'abusivebot',
    'irc_channels' => array(
        '#tmp' => array(
            'allowabuse' => true,
            'joinabuse' => true,
            'autovoice' => true,
            'keepquiet' => false,
            'topicchange' => true,
            'modes' => '+nt'
        ),
        '#linux' => array(
            'autovoice' => true,
            'keepquiet' => true,
            'topicchange' => true,
            'modes' => '+nt'
        ),
        '#chat' => array(
            'autovoice' => false,
            'keepquiet' => false,
            'topicchange' => true,
            'modes' => '+nt'
        )
    ),
    'default_chan' => '#chat',
    'admin_chan' => '#bot_dev',
    'log_stats' => false,
    'log_history' => true,
    'debug' => false,
    'banned_users' => array(
        'igor',
        'nupogodi'
    )
);

