<?php
// rename this file to pybotrc to use bot

// custom_commands:
// these do NOT get re-read on a reload, only on full restart

// if options from the irc_channels are removed rather 
// than changed, they will not be updated

// for example, removing "allowabuse" will not change that config setting
// only changing the value will cause a change in behaviour

$config = array(
    'logfile' => '/dev/null',
    'mongodb' => 'mongodb://mongo0/pybot',
    'custom_commands' => array(
        0 => 'vhost login pass',
    ),
    'irc_server' => 'riboflav.in',
    'irc_port' => 6667,
    'irc_handle' => 'abusivebot',
    'irc_channels' => array(
        '#tmp' => array(
            'allowabuse' => true,
            'joinabuse' => true,
            'autovoice' => true,
            'keepquiet' => false,
            'topicchange' => true,
            'modes' => '+nt'
        ),
        '#linux' => array(
            'autovoice' => true,
            'keepquiet' => true,
            'topicchange' => true,
            'modes' => '+nt'
        ),
        '#chat' => array(
            'autovoice' => false,
            'keepquiet' => false,
            'topicchange' => true,
            'modes' => '+nt'
        )
    ),
    'default_modes' => '+nt',
    'default_chan' => '#chat',
    'admin_chan' => '#bot_dev',
    'log_stats' => false,
    'log_history' => true,
    'dictionary_apiid' => '',
    'dictionary_apikey' => '',
    'debug' => false,
    'banned_users' => array(
        'igor',
        'nupogodi'
    )
);

